<!--The content below is only a placeholder and can be replaced.-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div >
  <style>
    h3, p, ol {
      font-family: product sans;
      margin-left:7.5%;
      margin-right: 7.5%;
    }
    h3{
      background-color: #e0e0e0; 
    }
    p, ol{
      font-size: 1.125em;
    }
    h5{
      margin-top: 0%;
      margin-bottom: 3%;
      font-family: product sans;
      position: relative;
      display: inline-block;
      font-size: 6rem;
      color: #00b3b4;
      text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0,0,0,0.1);
      text-align: center;
      font-family:product sans;
    }  
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #00a5a5;
  }
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}



  </style>
  </div>

  <h5>
    Welcome to {{ title }}!
  </h5>
  <ul style="font-family: product sans; margin-left: 5%; margin-right: 5%; font-size: 1.75rem; ">
    <li><a routerLink="/Home" class="active">Home</a></li>
    <li><a routerLink="/Tweet1">Political Tweets</a></li>
    <li><a routerLink="/Tweet2">Sports Tweets</a></li>
    <li><a routerLink="/Tweet3">Social Tweets</a></li>
    <li><a routerLink="/Tweet4">Celebrity Tweets</a></li>
  </ul>

  <br>
      

<!--
<employee-detail></employee-detail>
<employee-list></employee-list>
<app-tweet1></app-tweet1>
<app-tweet2></app-tweet2>
<app-tweet3></app-tweet3>
<app-tweet4></app-tweet4>
<app-home></app-home>
-->

<router-outlet></router-outlet>
